@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

.contenido {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 20em;
  .descripcion {
    @include mat.typography-level($typography-config, "body-1");
    color: $marron;
  }
  .mas-info {
    @include mat.typography-level($typography-config, "body-2");
    color: $verde;
  }
  .chat {
    a {
      height: 3.5em;
      .texto-chat {
        display: flex;
        align-items: center;
        gap: 1em;
      }
    }
  }
}
.acciones {
  justify-content: flex-end !important;
}
