@use "sass:map";
@use "@angular/material" as mat;

// Colores
$lt-basico: (
  amarillo: #ffe7b3,
  naranja: #e8630a,
  verde: #00b7a3,
  marron: #230c00
);
$lt-primario: (
  50: #e0f6f4,
  100: #b3e9e3,
  200: #80dbd1,
  300: #4dcdbf,
  400: #26c2b1,
  500: #00b7a3,
  600: #00b09b,
  700: #00a791,
  800: #009f88,
  900: #009077,
  A100: #bcfff1,
  A200: #89ffe7,
  A400: #56ffdc,
  A700: #3cffd7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$lt-secundario: (
  50: #fcece2,
  100: #f8d0b6,
  200: #f4b185,
  300: #ef9254,
  400: #eb7a2f,
  500: #e8630a,
  600: #e55b09,
  700: #e25107,
  800: #de4705,
  900: #d83503,
  A100: #ffffff,
  A200: #ffd6cd,
  A400: #ffac9a,
  A700: #ff9780,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$lt-advertencia: (
  50: #e5e2e0,
  100: #bdb6b3,
  200: #918680,
  300: #65554d,
  400: #443026,
  500: #230c00,
  600: #1f0a00,
  700: #1a0800,
  800: #150600,
  900: #0c0300,
  A100: #ff5050,
  A200: #ff1d1d,
  A400: #e90000,
  A700: #cf0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

// Tamaños

$tamanos: (
  alto-navbar: 64px,
  alto-pie: 48px,
  ancho-menu: 820px,
  border-radius: 4px,
  gap: 20px
);

$estilos: (
  box-shadow: 5px 5px #000
);

// Tipografías
$body-1: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 24px,
  $line-height: 29px,
  $letter-spacing: 0px
);
$body-2: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 20px,
  $line-height: 24px,
  $letter-spacing: 0px
);
$body-3: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 16px,
  $line-height: 20px,
  $letter-spacing: 0px
);
$body-4: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 17px,
  $letter-spacing: 0px
);
$body-5: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 12px,
  $line-height: 15px,
  $letter-spacing: 0px
);
$heading-1: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 800,
  $font-size: 62px,
  $line-height: 64px,
  $letter-spacing: 0px
);
$heading-2: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 800,
  $font-size: 32px,
  $line-height: 34px,
  $letter-spacing: 0px
);
$heading-3: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 800,
  $font-size: 24px,
  $line-height: 26px,
  $letter-spacing: 0px
);
$heading-4: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 800,
  $font-size: 20px,
  $line-height: 22px,
  $letter-spacing: 0px
);
$caption-1: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 12px,
  $line-height: 15px,
  $letter-spacing: 0px
);
$caption-2: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 10px,
  $line-height: 12px,
  $letter-spacing: 0px
);
$caption-3: mat.define-typography-level(
  $font-family: Poppins,
  $font-weight: 400,
  $font-size: 8px,
  $line-height: 10px,
  $letter-spacing: 0px
);
$especial-0: mat.define-typography-level(
  $font-family: Angellya,
  $font-size: 96px,
  $line-height: 1,
  $letter-spacing: 0px
);
$especial-1: mat.define-typography-level(
  $font-family: Angellya,
  $font-size: 72px,
  $line-height: 1,
  $letter-spacing: 0px
);
$especial-2: mat.define-typography-level(
  $font-family: Angellya,
  $font-size: 56px,
  $line-height: 1,
  $letter-spacing: 0px
);
$especial-3: mat.define-typography-level(
  $font-family: Angellya,
  $font-size: 36px,
  $line-height: 1,
  $letter-spacing: 0px
);
$especial-4: mat.define-typography-level(
  $font-family: Angellya,
  $font-size: 24px,
  $line-height: 1,
  $letter-spacing: 0px
);
