@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);
$alto-navbar: map.get(estilos.$tamanos, alto-navbar);
$alto-pie: map.get(estilos.$tamanos, alto-pie);
$gap: map.get(estilos.$tamanos, gap);
$alto-titulo: 34px;
$margen-titulo: 32px;

.paneles {
  display: flex;
  flex-direction: column;
  height: calc(100vh - $alto-navbar - $alto-pie - ($gap * 2) - $alto-titulo - $margen-titulo);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  .panel-grid-list {
    width: 100%;
    .panel {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      overflow: hidden;
      border-radius: calc($gap / 2);
      border: #00b7a3 2px solid;
      position: relative;
      .imagen {
        width: 100%;
        height: 100%;
        pointer-events: none;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
      .contenido {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% + 48px);
        color: $amarillo;
        position: absolute;
        top: calc(100% - 108px);
        left: 0;
        z-index: 2;
        transition: top 0.5s ease-in-out;
        .titulo {
          width: 100%;
          height: 48px;
          padding-top: 60px;
          background: linear-gradient(to top, rgba($verde, 0.9) 0%, rgba($verde, 0) 75%);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc($gap / 2);
          span {
            @include mat.typography-level($typography-config, "heading-3");
          }
        }
        .descripcion {
          width: calc(100% - 2em);
          flex: 1 1 auto;
          background-color: rgba($verde, 0.9);
          padding: 1em;
          @include mat.typography-level($typography-config, "body-3");
          .texto {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .link {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
      &.abierto {
        .contenido {
          top: -48px;
        }
      }
    }
  }
  &.XSmall,
  &.Small {
    overflow-y: scroll;
  }
}
