<div class="menu"
     [ngClass]="bpPantalla">
  <ng-container *ngFor="let categoria of menu">
    <div class="categoria"
         [ngClass]="simplifica(categoria.titulo)"
         [ngStyle]="{'backgroundImage': imagenFondo(categoria.imagen)}"
         *ngIf="categoria.visible">
      <div class="texto">
        <div class="titulo">
          {{categoria.titulo}}
        </div>
        <div *ngIf="categoria.descripcion"
             class="descripcion">
          {{categoria.descripcion}}
        </div>
      </div>
      <div class="logo"></div>
      <div class="subcategorias"
           @subcategorias>
        <ng-container *ngFor="let subcategoria of categoria.hijos">
          <div class="subcategoria"
               *ngIf="subcategoria.visible && subcategoria.titulo != 'Promociones'">
            <div class="texto">
              <div class="titulo">{{subcategoria.titulo}}</div>
              <div *ngIf="subcategoria.descripcion"
                   class="descripcion">
                {{subcategoria.descripcion}}
              </div>
            </div>
            <ng-container *ngFor="let producto of subcategoria.hijos">
              <div class="producto"
                   *ngIf="producto.visible">
                <div class="imagen"
                     *ngIf="imagenProducto(producto.imagen).tipo != 'vacio'">
                  <fa-icon *ngIf="imagenProducto(producto.imagen).icono"
                           animation="beat-fade"
                           [fixedWidth]="true"
                           size="xs"
                           [icon]="imagenProducto(producto.imagen).icono">
                  </fa-icon>
                  <img *ngIf="imagenProducto(producto.imagen).tipo == 'imagen'"
                       [src]="imagenProducto(producto.imagen).ruta">
                </div>
                <div class="texto">
                  <div class="titulo">
                    {{producto.titulo}}
                  </div>
                  <div *ngIf="producto.descripcion"
                       class="descripcion">
                    {{producto.descripcion}}
                  </div>
                </div>
                <div class="spacer"></div>
                <div class="valor">
                  {{producto.valor | currency:'COP':'symbol-narrow':'1.0-0'}}
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <div class="promociones">
    <button class="boton-promo"
            matTooltip="Promociones de hoy"
            matTooltipPosition="left"
            [matMenuTriggerFor]="promos"
            mat-fab>
      <fa-icon [icon]="promo"
               size="lg"></fa-icon>
    </button>
  </div>
</div>
<mat-menu class="promo"
          backdropClass="backPromo"
          xPosition="before"
          yPosition="below"
          #promos="matMenu">
  <button class="cerrar"
          mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <div class="promo-titulo">
    <span>Promociones de hoy</span>
  </div>
  <ng-container *ngFor="let cat of menu">
    <ng-container *ngFor="let subcat of cat.hijos">
      <div class="subcat"
           *ngIf="subcat.titulo == 'Promociones'">
        <ng-container *ngFor="let producto of subcat.hijos">
          <div class="producto"
               *ngIf="producto.visible">
            <div class="imagen"
                 *ngIf="imagenProducto(producto.imagen).tipo != 'vacio'">
              <fa-icon *ngIf="imagenProducto(producto.imagen).icono"
                       animation="beat-fade"
                       [fixedWidth]="true"
                       size="xs"
                       [icon]="imagenProducto(producto.imagen).icono">
              </fa-icon>
              <img *ngIf="imagenProducto(producto.imagen).tipo == 'imagen'"
                   [src]="imagenProducto(producto.imagen).ruta">
            </div>
            <div class="texto">
              <div class="titulo">{{producto.titulo}}</div>
              <div class="descripcion">{{producto.descripcion}}</div>
            </div>
            <div class="valor">{{producto.valor | currency:'COP':'symbol-narrow':'1.0-0'}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</mat-menu>