@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

.menu {
  background-color: $amarillo;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-bottom: 32px;
  position: relative;
  .categoria {
    width: 100%;
    max-width: map.get(estilos.$tamanos, ancho-menu);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    border-radius: map.get(estilos.$tamanos, border-radius);
    overflow: hidden;
    & > * {
      width: calc(100% - 64px);
    }
    & > .texto {
      margin: 32px 32px 16px;
      display: flex;
      flex-direction: column;
      width: 70%;
      .titulo {
        @include mat.typography-level($typography-config, "especial-1");
      }
      .descripcion {
        @include mat.typography-level($typography-config, "body-3");
      }
    }
    & > .logo {
      width: 20%;
      aspect-ratio: 525.26/230.56;
      background-image: url("/assets/logos/logo_blanco.svg");
      background-repeat: no-repeat;
    }
    .subcategorias {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 32px;
      .subcategoria {
        width: 48%;
        min-width: 320px;
        background-color: rgba($marron, 75%);
        border-radius: map.get(estilos.$tamanos, border-radius);
        display: flex;
        flex-direction: column;
        height: fit-content;
        & > * {
          margin-left: 16px;
          margin-right: 16px;
        }
        & > .texto {
          margin: 16px 16px 8px;
          display: flex;
          flex-direction: column;
          .titulo {
            @include mat.typography-level($typography-config, "heading-3");
            display: flex;
            align-items: center;
            .logo_rustica {
              height: 3.5em;
              margin-right: 1em;
            }
          }
          .descripcion {
            @include mat.typography-level($typography-config, "body-5");
          }
        }
        .producto {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          &:not(:last-of-type) {
            border-bottom: 1px rgba(#fff, 0.2) solid;
          }
          .texto {
            display: flex;
            flex-direction: column;
            margin: 0.5em 0.25em;
            .titulo {
              @include mat.typography-level($typography-config, "body-2");
            }
            .descripcion {
              @include mat.typography-level($typography-config, "caption-2");
            }
          }
          .valor {
            @include mat.typography-level($typography-config, "body-3");
          }
        }
      }
    }
  }
  .promociones {
    position: fixed;
    display: flex;
    max-width: map.get(estilos.$tamanos, ancho-menu);
    width: 100%;
    justify-content: flex-end;
    .boton-promo {
      margin: 36px 36px 0 0;
    }
  }
}
