<div class="discos">
  <div class="filtros"
       *ngIf="interfaz">
    <div class="texto">{{ interfaz.filtros[idioma] }}</div>
    <form class="selectores">
      <ng-container *ngFor="let selector of listadoKeyObj(filtros)">
        <mat-form-field *ngIf="esArray(filtros, selector) else esObjeto">
          <mat-label>{{ interfaz.selectores[selector][idioma] }}</mat-label>
          <mat-select>
            <ng-container *ngFor="let elemento of valObj(filtros, selector) | keyvalue">
              <mat-option [value]="elemento.value">{{ elemento.value }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <ng-template #esObjeto>
          <mat-slider min="200"
                      max="500">
            <input value="300"
                   matSliderStartThumb>
            <input value="400"
                   matSliderEndThumb>
          </mat-slider>
        </ng-template>
      </ng-container>
    </form>
  </div>
  <div class="chips"></div>
  <div class="fichas-discos">
    <ng-container *ngFor="let disco of discos">
      <mat-card class="disco mat-elevation-z4"
                *ngIf="disco.visible">
        <img mat-card-image
             *ngIf="disco.cover"
             [src]="disco.cover">
        <mat-card-content class="contenido">
          <div class="album">
            <fa-icon [icon]="album"
                     class="icono"
                     [fixedWidth]="true">
            </fa-icon>
            <span class="texto">{{ disco.album }}</span>
          </div>
          <mat-divider></mat-divider>
          <div class="artista">
            <fa-icon [icon]="artista"
                     class="icono"
                     [fixedWidth]="true">
            </fa-icon>
            <span class="texto">{{ disco.artista }}</span>
          </div>
          <mat-divider></mat-divider>
          <div class="estado">
            <fa-icon [icon]="estado"
                     class="icono"
                     [fixedWidth]="true">
            </fa-icon>
            <span class="texto">{{ disco.estado }}</span>
          </div>
          <mat-divider></mat-divider>
          <div class="valor">
            <fa-icon [icon]="valor"
                     class="icono"
                     [fixedWidth]="true">
            </fa-icon>
            <span class="texto">{{ disco.valor | currency:'COP':'symbol-narrow':'1.0-0' }}</span>
          </div>
          <mat-divider></mat-divider>
          <ng-container *ngIf="disco.origen && disco.barcode.substring(0, 3) != 'LTD'">
            <div class="origen">
              <fa-icon [icon]="origen"
                       class="icono"
                       [fixedWidth]="true">
              </fa-icon>
              <span class="texto">{{ disco.origen }}</span>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngIf="disco.anno">
            <div class="anno">
              <fa-icon [icon]="anno"
                       class="icono"
                       [fixedWidth]="true">
              </fa-icon>
              <span class="texto">{{ disco.anno }}</span>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngIf="disco.genero?.length">
            <div class="genero">
              <fa-icon [icon]="genero"
                       class="icono"
                       [fixedWidth]="true">
              </fa-icon>
              <mat-chip-listbox class="chips-discos">
                <mat-chip-option *ngFor="let genero of disco.genero">
                  {{ genero }}
                </mat-chip-option>
              </mat-chip-listbox>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
          <div class="descripcion">
            <fa-icon [icon]="descripcion"
                     class="icono"
                     [fixedWidth]="true">
            </fa-icon>
            <mat-chip-listbox class="chips-discos">
              <mat-chip-option *ngFor="let descripcion of disco.descripcion?.split(', ')">
                {{ descripcion }}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>