@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

.discos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: map.get(estilos.$tamanos, gap);
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: $amarillo;
  .disco {
    width: 240px;
    .contenido {
      margin-top: 16px;
      font-size: 16px;
      & > * .icono {
        margin-right: 0.5em;
        color: $verde;
      }
      .album {
        .texto {
          font-weight: 600;
        }
      }
      .genero,
      .descripcion {
        display: flex;
        align-items: center;
      }
    }
  }
}
