$transparencia: 0.4;
$transparencia-hover: 0.9;
$light-surface: rgba(255, 239, 209, $transparencia);
$light-hover-surface: rgba(255, 239, 209, $transparencia-hover);
$dark-surface: rgba(24, 16, 0, $transparencia);
$dark-hover-surface: rgba(24, 16, 0, $transparencia-hover);
$primary-light-surface: rgb(110, 249, 226);
$primary-dark-surface: rgb(0, 55, 48);

$light-glass-settings: (
  bg: $light-surface,
  hover: $light-hover-surface,
  border: $light-surface,
  shadow: $dark-surface,
  primary-bg: $primary-light-surface
);

$dark-glass-settings: (
  bg: $dark-surface,
  hover: $dark-hover-surface,
  border: $dark-surface,
  shadow: $dark-surface,
  primary-bg: $primary-dark-surface
);
