@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

$max-width-select: 360px;
$min-width-select: 240px;

.libros {
  width: 100%;
  background-color: $amarillo;
  .fichas-libros {
    display: flex;
    flex-wrap: wrap;
    gap: map.get(estilos.$tamanos, gap);
    align-items: flex-start;
    justify-content: space-evenly;
    padding-bottom: 32px;
    .libro {
      width: 360px;
    }
  }
}
