@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

$max-width-select: 360px;
$min-width-select: 240px;

.libros {
  width: 100%;
  background-color: $amarillo;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    flex-wrap: wrap;
    gap: 24px;
    .filtros {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      & > .texto {
        font-size: 16px;
      }
      .selectores {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        .palabra-clave {
          min-width: $min-width-select;
          max-width: $max-width-select;
          .opcion {
            font-size: 16px;
            min-height: 18px;
          }
        }
        .rango-precios {
          flex: 1 1 auto;
          max-width: $max-width-select;
          min-width: $min-width-select;
          margin-top: -16px;
          & > .texto {
            font-size: 14px;
          }
          .mat-mdc-slider {
            width: calc(100% - 16px);
          }
          .valores {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    .orden {
      min-width: $min-width-select;
      max-width: $max-width-select;
      & > .texto {
        font-size: 16px;
      }
    }
  }
  .fichas-libros {
    display: flex;
    flex-wrap: wrap;
    gap: map.get(estilos.$tamanos, gap);
    align-items: flex-start;
    justify-content: space-evenly;
    padding-bottom: 32px;
    .libro {
      width: 360px;
    }
  }
  &.sm {
    .fichas-libros {
      .libro {
        width: calc(50% - map.get(estilos.$tamanos, gap));
      }
    }
  }
  &.xs {
    .fichas-libros {
      flex-direction: column;
      .libro {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
