<div class="eventos">
  <div class="header"></div>
  <div class="calendario">
    <mat-grid-list cols="7"
                   rowHeight="2:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="eventos-animados">
    <div class="lista-eventos"
         *ngIf="eventos.length > 0"
         @eventos>
      <ng-container *ngFor="let evento of eventos">
        <mat-card class="evento mat-elevation-z4"
                  *ngIf="evento.fecha && evento.fecha > hoy">
          <img mat-card-image
               [src]="evento.portada">
          <mat-card-content>
            <div class="fecha">
              <div class="mes">{{ evento.fecha | date: 'MMM':'GMT-5:00':interfaz.fecha[idioma] }}</div>
              <div class="dia">{{ evento.fecha | date: 'd':'GMT-5:00':interfaz.fecha[idioma] }}</div>
              <div class="hora">{{ evento.fecha | date: 'h:mm a':'GMT-5:00':interfaz.fecha[idioma] }}</div>
            </div>
            <div class="info">
              <div class="texto">
                <div class="titulo">{{ evento.nombre }}</div>
                <div class="descripcion">{{ evento.descripcion }}</div>
              </div>
              <div class="acciones"
                   *ngIf="evento.ig || evento.tiktok || evento.link || evento.registro">
                <a mat-icon-button
                   [matTooltip]="interfaz.masinformacion[idioma]"
                   matTooltipPosition="above"
                   [href]="evento.link"
                   [target]="evento.link.indexOf('letiende.co') > -1 ? '_self' : '_blank'"
                   *ngIf="evento.link">
                  <fa-icon [icon]="info"></fa-icon>
                </a>
                <a mat-icon-button
                   matTooltip="Instagram"
                   matTooltipPosition="above"
                   [href]="evento.ig"
                   target="_blank"
                   *ngIf="evento.ig">
                  <fa-icon [icon]="ig"></fa-icon>
                </a>
                <a mat-icon-button
                   matTooltip="TikTok"
                   matTooltipPosition="above"
                   [href]="evento.tiktok"
                   target="_blank"
                   *ngIf="evento.tiktok">
                  <fa-icon [icon]="tiktok"></fa-icon>
                </a>
                <a mat-icon-button
                   [matTooltip]="interfaz.registro[idioma]"
                   matTooltipPosition="above"
                   [href]="evento.registro"
                   target="_blank"
                   *ngIf="evento.registro">
                  <fa-icon [icon]="registro"></fa-icon>
                </a>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <mat-card class="evento vacio mat-elevation-z4"
                *ngIf="!hayEventos()">
        <div class="icono">
          <fa-icon [icon]="doh"
                   size="lg">
          </fa-icon>
        </div>
        <div class="texto">
          <div class="ups">{{ interfaz.ups[idioma] }}</div>
          <div class="titulo">{{ interfaz.noeventos[idioma] }}</div>
          <div class="explicacion"
               [innerHTML]="textoSiguenos() | safe:'html'">
            <!--
            Síguenos en
            <a class="vinculo"
               target="_blank"
               href="https://www.instagram.com/letiende_parkway/">
              IG
            </a>
            o
            <a href="https://www.letiende.co/registro"
               target="_blank"
               class="vinculo">
              regístrate
            </a>
            para que te avisemos de nuestros próximos eventos.
          -->
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>