@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

@mixin ancho() {
  width: 100%;
  max-width: 1280px;
}

.eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $amarillo;
  .header {
    display: flex;
    justify-content: flex-end;
    padding: 32px 0;
    @include ancho();
    .selector-vista {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  .calendario {
    @include ancho();
    .navegacion {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      .fecha {
        min-width: 10em;
        text-align: center;
      }
    }
    .almanaque {
      .almanaque-titulo,
      .almanaque-dias {
        .dia {
          border: 1px solid rgba($marron, 0.5);
          color: $marron;
        }
      }
      .almanaque-titulo {
        .dia {
          background-color: $verde;
          color: #fff;
        }
      }
      .almanaque-dias {
        .dia {
          .num-dia {
            width: 2em;
            height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4px;
            font-size: 14px;
            &.hoy {
              border-radius: 50%;
              background-color: $naranja;
              color: $amarillo;
            }
          }
          .evento {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            background-color: $naranja;
            margin-bottom: 4px;
            color: #fff;
            font-size: 12px;
            line-height: 1;
            cursor: pointer;
            &:hover {
              background-color: $verde;
            }
            span {
              flex: 1 1 auto;
              padding: 4px 8px;
            }
            .expande {
              margin-right: 4px;
            }
          }
          &:not(.actual) {
            background-color: rgba($marron, 0.25);
          }
          &.pasado {
            opacity: 0.4;
          }
        }
      }
    }
  }
  .eventos-animados {
    width: 100%;
    .lista-eventos {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: map.get(estilos.$tamanos, gap);
      align-items: flex-start;
      justify-content: space-evenly;
      .evento {
        &:not(.vacio) {
          max-width: 360px;
          margin: map.get(estilos.$tamanos, gap);
          background-color: $marron;
          color: $amarillo;
          .mat-mdc-card-content {
            margin-top: 16px;
            display: flex;
            .fecha {
              display: flex;
              flex-direction: column;
              background-color: $verde;
              align-items: center;
              padding: 8px 16px;
              border-radius: 8px;
              text-align: center;
              .mes {
                @include mat.typography-level($typography-config, "body-2");
                text-transform: uppercase;
              }
              .dia {
                @include mat.typography-level($typography-config, "heading-1");
              }
              .hora {
                @include mat.typography-level($typography-config, "body-4");
                min-width: 5em;
              }
            }
            .info {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 0 8px;
              .texto {
                .titulo {
                  @include mat.typography-level($typography-config, "heading-3");
                }
                .descripcion {
                  @include mat.typography-level($typography-config, "body-4");
                  color: $naranja;
                }
              }
              .acciones {
                display: flex;
              }
            }
          }
        }
        &.vacio {
          background-color: white;
          padding: 16px;
          margin-top: 16px;
          max-width: 360px;
          text-align: center;
          .icono {
            font-size: 80px;
            line-height: 1.25;
            color: $marron;
          }
          .texto {
            color: $marron;
            .ups {
              @include mat.typography-level($typography-config, "heading-1");
            }
            .titulo {
              @include mat.typography-level($typography-config, "heading-3");
              margin: 16px 0;
            }
          }
        }
      }
    }
  }
}
