<div class="eventos">
  <ng-container *ngFor="let evento of eventos">
    <mat-card *ngIf="evento.fecha && evento.fecha > hoy"
              class="evento mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>
          {{ evento.nombre }}
        </mat-card-title>
        <mat-card-subtitle>
          Fecha: {{ evento.fecha | date: 'EEEE d MMMM, y - h:mm a':undefined:'es-CO' }}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           [src]="evento.portada">
      <mat-card-content>
        {{ evento.descripcion }}
      </mat-card-content>
      <mat-card-actions class="acciones"
                        *ngIf="evento.ig || evento.tiktok || evento.registro">
        <a mat-icon-button
           matTooltip="Información en Instagram"
           matTooltipPosition="above"
           [href]="evento.ig"
           target="_blank"
           *ngIf="evento.ig">
          <fa-icon [icon]="ig"></fa-icon>
        </a>
        <a mat-icon-button
           matTooltip="Información en TikTok"
           matTooltipPosition="above"
           [href]="evento.tiktok"
           target="_blank"
           *ngIf="evento.tiktok">
          <fa-icon [icon]="tiktok"></fa-icon>
        </a>
        <a mat-icon-button
           matTooltip="Regístrate para este evento"
           matTooltipPosition="above"
           [href]="evento.registro"
           target="_blank"
           *ngIf="evento.registro">
          <fa-icon [icon]="registro"></fa-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>