@use "sass:map";
@use "sass:math";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$marron: map.get(estilos.$lt-basico, marron);
$amarillo: map.get(estilos.$lt-basico, amarillo);

$modulo: math.div(map.get(estilos.$tamanos, alto-navbar), 4);

.navbar {
  position: relative;
  &.xl,
  &.lg,
  &.md {
    gap: $modulo;
    .menu {
      display: none;
    }
    .titulo {
      flex: 1 1 auto;
    }
  }
  &.sm,
  &.xs {
    .enlace {
      display: none;
    }
  }
  &.xs {
    .logo {
      display: none;
    }
  }
  img.logo {
    margin-left: $modulo;
    width: auto;
    height: calc(100% - $modulo);
  }
  .enlace {
    &.activo {
      color: $marron;
    }
  }
  .titulo {
    @include mat.typography-level($typography-config, "especial-2");
    color: $amarillo;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
