@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);
$alto-navbar: map.get(estilos.$tamanos, alto-navbar);
$alto-pie: map.get(estilos.$tamanos, alto-pie);
$gap: map.get(estilos.$tamanos, gap);

.auditorio {
  background-color: $amarillo;
  width: 100vw;
  position: relative;
  display: flex;
  .cotizar {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 9;
  }
  .despliega {
    display: flex;
    justify-content: flex-end;
    z-index: 10;
  }
  .sidenav-content {
    height: calc(100vh - $alto-navbar - $alto-pie);
    .contenido {
      height: calc(100% - ($gap * 2));
      padding: $gap;
    }
    &:last-of-type {
      min-height: calc(100% + 32px);
    }
  }
  &.md,
  &.lg,
  &.xl {
    .despliega {
      display: none;
    }
  }
  &.sm,
  &.xs {
    .despliega {
      position: absolute;
    }
  }
}
