@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

.auditorio {
  background-color: $amarillo;
  width: 100vw;
  position: relative;
  display: flex;
  .cotizar {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 9;
  }
  .despliega {
    display: flex;
    justify-content: flex-end;
    z-index: 10;
  }
  .sidenav-content {
    &:last-of-type {
      min-height: 100%;
    }
  }
  &.md,
  &.lg,
  &.xl {
    .despliega {
      display: none;
    }
  }
  &.sm,
  &.xs {
    .despliega {
      position: absolute;
    }
  }
}
