@if (interfaz && dataAuditorio) {
<div class="auditorio"
     [ngClass]="bpPantalla">
  <button mat-fab
          aria-label="Cotizar el auditorio"
          [matTooltip]="interfaz.cotizar[idioma]"
          (click)="abreCotizacion()"
          class="cotizar">
    <mat-icon>request_quote</mat-icon>
  </button>
  @if (!openDrawer) {
  <div class="despliega"
       @abreSubnav>
    <button mat-icon-button
            aria-label="Ver menú"
            (click)="openDrawer=true">
      <mat-icon>menu_open</mat-icon>
    </button>
  </div>
  }
  <mat-sidenav-container (backdropClick)="openDrawer = false"
                         #sidenavContainer>
    <mat-sidenav [mode]="modoDrawer"
                 [fixedInViewport]="bpPantalla == 'sm' || bpPantalla == 'xs'"
                 [opened]="openDrawer">
      <mat-nav-list>
        @for (subVinculo of subVinculos; track subVinculo; let num = $index) {
        <a [routerLink]="['..', subVinculo.link]"
           mat-list-item
           (click)="abreSubVinculo(num)"
           [activated]="subMenuActivo(subVinculo.link)">
          <mat-icon matListItemIcon>{{subVinculo.icono}}</mat-icon>
          {{subVinculo.titulo}}
          <mat-icon class="active">arrow_right</mat-icon>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      @for (subVinculo of subVinculos; track subVinculo; let num = $index) {
      <div class="sidenav-content"
           [id]="'auditorio-' + subVinculo.link">
        <div class="contenido">
          @if (subVinculo.link == 'auditorio'){
          <div class="carrusel"
               [style]="'height: ' + altoCarrusel + 'px'">
            <div class="titulo">{{interfaz.titulos.auditorio[idioma]}}</div>
            @for (imagenes of imgsCarrusel; track $index){
            <div class="contenido-carrusel">
              <lt-carrusel [imagenes]="imagenes" />
            </div>
            }
          </div>
          }
          @if (subVinculo.link == 'especificaciones'){
          <div class="especificaciones">
            <div class="titulo">{{interfaz.titulos.especificaciones[idioma]}}</div>
            <lt-paneles [paneles]="dataAuditorio.especificaciones" />
          </div>
          }
          @if (subVinculo.link == 'eventos'){
          <div class="eventos">
            <div class="titulo">
              <span [innerHTML]="interfaz.titulos.eventos[idioma]"></span>
            </div>
            <div class="selector-fecha"></div>
            <lt-slider-eventos style="flex: 1 1 auto" />
          </div>
          }
        </div>
      </div>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
} @else {
<div class="loading">
  <mat-spinner></mat-spinner>
</div>
}