@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

.ficha-evento {
  position: relative;
  .evento {
    max-width: 360px;
    margin: map.get(estilos.$tamanos, gap);
    background-color: $marron;
    color: $amarillo;
    .mat-mdc-card-content {
      margin-top: 16px;
      display: flex;
      .cerrar {
        position: absolute;
        top: 4px;
        right: 4px;
        z-index: 1;
        background-color: rgba($marron, 0.5);
        border-radius: 50%;
      }
      .fecha {
        display: flex;
        flex-direction: column;
        background-color: $verde;
        align-items: center;
        padding: 8px 16px;
        border-radius: 8px;
        text-align: center;
        .mes {
          @include mat.typography-level($typography-config, "body-2");
          text-transform: uppercase;
        }
        .dia {
          @include mat.typography-level($typography-config, "heading-1");
        }
        .hora {
          @include mat.typography-level($typography-config, "body-4");
          min-width: 5em;
        }
        .year {
          @include mat.typography-level($typography-config, "heading-2");
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 8px;
        .texto {
          .titulo {
            @include mat.typography-level($typography-config, "heading-3");
          }
          .descripcion {
            @include mat.typography-level($typography-config, "body-4");
            color: $naranja;
          }
        }
        .acciones {
          display: flex;
        }
      }
    }
  }
}
