<div class="slider-eventos">
  <!-- Añadimos #eventosContainer para poder referenciarlo en el TS -->
  <div class="eventos"
       #eventosContainer>
    <!-- Usar un ID único para trackBy es más eficiente si está disponible -->
    @for (evento of eventos; track evento.fecha) {
    <lt-ficha-evento class="evento"
                     (click)="abreEvento($index)"
                     [year]="true"
                     [evento]="evento" />
    } @empty {
    <!-- Opcional: Mensaje si no hay eventos -->
    <div class="loading">
      <mat-spinner />
    </div>
    }
  </div>
  <!-- Aquí podrías añadir botones de navegación Prev/Next si lo deseas -->
</div>