@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

.muertos {
  background-color: $amarillo;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .altar {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    .capas {
      display: flex;
      flex-direction: column;
      width: 100%;
      .capa {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: relative;
        .picado {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            width: auto;
            height: 100%;
          }
        }
        .fotos {
          display: flex;
          align-items: flex-end;
          position: relative;
          .trigger {
            position: relative;
            .foto {
              position: absolute;
              img {
                height: 100%;
                width: auto;
              }
            }
          }
        }
        .calaquitas,
        .flores,
        .velas,
        .comidas {
          display: flex;
          justify-content: space-between;
          position: absolute;
          .calaquita,
          .flor,
          .vela {
            img {
              height: 100%;
              width: auto;
            }
          }
        }
        .velas {
          justify-content: space-evenly;
        }
        .comidas {
          position: relative;
          .trigger {
            display: flex;
            justify-content: space-between;
            .comida {
              img {
                height: 100%;
                width: auto;
              }
            }
          }
        }
      }
    }
    .textos {
      color: $amarillo;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 12px 16px;
      .titulo {
        color: $verde;
        @include mat.typography-level($typography-config, "especial-2");
        margin: 12px 0;
      }
      .subtitulo {
        @include mat.typography-level($typography-config, "heading-4");
      }
      .instruccion {
        @include mat.typography-level($typography-config, "body-4");
      }
      .paso5 {
        margin: 1em 0 0 3em;
      }
    }
  }
  &.sm,
  &.md,
  &.lg,
  &.xl {
    .altar {
      max-width: 640px;
      margin: 12px 0;
      border-radius: 4px;
      .capas {
        margin-top: 20px;
        .capa {
          .calaquitas,
          .flores,
          .velas {
            .calaquita {
              height: 30px;
            }
            .flor {
              height: 20px;
            }
            .vela {
              height: 25px;
            }
          }
          .flores {
            bottom: 65px;
          }
          &.capa1 {
            .cabecera {
              height: 150px;
              img {
                height: 100%;
                width: auto;
              }
            }
            .calaquitas,
            .flores,
            .velas {
              width: 50%;
              bottom: 50px;
            }
            .flores {
              bottom: 42px;
            }
            .picado {
              height: 50px;
            }
          }
          &.capa2 {
            .fotos {
              height: 96px;
              width: 75%;
              .trigger {
                height: 96px;
                width: 100%;
                .foto {
                  top: 16px;
                  height: 80px;
                  &.abuela {
                    left: 60px;
                  }
                  &.abuelo {
                    left: 130px;
                  }
                  &.perro {
                    right: 54px;
                  }
                }
              }
            }
            .calaquitas,
            .flores,
            .velas {
              width: 75%;
              bottom: 75px;
            }
            .flores {
              bottom: 65px;
            }
            .picado {
              height: 75px;
            }
          }
          &.capa3 {
            margin-top: 20px;
            .comidas {
              height: 45px;
              width: 85%;
              .trigger {
                height: 45px;
                width: 100%;
                .comida {
                  margin-right: 12px;
                }
              }
            }
            .calaquitas,
            .flores,
            .velas {
              width: 90%;
              bottom: 75px;
            }
            .flores {
              bottom: 65px;
            }
            .picado {
              height: 90px;
            }
          }
        }
      }
      .textos {
        height: 282px;
      }
    }
  }
  &.xs {
    .altar {
      width: 100%;
      margin: 0;
      border-radius: 0;
      min-height: 100%;
      .capas {
        margin-top: 8px;
        .capa {
          .calaquitas,
          .flores,
          .velas {
            .calaquita {
              height: 25px;
            }
            .flor {
              height: 15px;
            }
            .vela {
              height: 20px;
            }
          }
          .flores {
            bottom: 45px;
          }
          &.capa1 {
            .cabecera {
              height: 150px;
              img {
                height: 100%;
                width: auto;
              }
            }
            .calaquitas,
            .flores,
            .velas {
              width: 50%;
              bottom: 40px;
            }
            .flores {
              bottom: 35px;
            }
            .picado {
              height: 40px;
            }
          }
          &.capa2 {
            .fotos {
              height: 66px;
              width: 75%;
              .trigger {
                height: 76px;
                width: 100%;
                .foto {
                  top: 16px;
                  height: 60px;
                  &.abuela {
                    left: 40px;
                  }
                  &.abuelo {
                    left: 90px;
                  }
                  &.perro {
                    right: 50px;
                  }
                }
              }
            }
            .calaquitas,
            .flores,
            .velas {
              width: 75%;
              bottom: 50px;
            }
            .flores {
              bottom: 45px;
            }
            .picado {
              height: 50px;
            }
          }
          &.capa3 {
            margin-top: 20px;
            .comidas {
              height: 30px;
              width: 85%;
              .trigger {
                height: 30px;
                width: 100%;
                margin-top: -15px;
                .comida {
                  margin-right: 12px;
                }
              }
            }
            .calaquitas,
            .flores,
            .velas {
              width: 90%;
              bottom: 58px;
            }
            .flores {
              bottom: 50px;
            }
            .picado {
              width: 100%;
            }
          }
        }
      }
      .textos {
        height: 360px;
      }
    }
    @media (max-width: 364px) {
      .altar {
        .capas {
          display: none;
        }
      }
    }
  }
}
