@use "sass:map";
@use "@angular/material" as mat;
@use "/src/styles.scss" as estilos;

$typography-config: mat.get-typography-config(estilos.$letiende-theme);
$verde: map.get(estilos.$lt-basico, verde);
$naranja: map.get(estilos.$lt-basico, naranja);
$amarillo: map.get(estilos.$lt-basico, amarillo);
$marron: map.get(estilos.$lt-basico, marron);

.inicio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @include mat.typography-level($typography-config, "body-1");
  background-color: $amarillo;
  color: $naranja;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .logo {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .easter-egg {
    width: 28em;
    height: 3em;
    overflow: hidden;
    .texto {
      text-align: center;
    }
  }
}
