@use "sass:color";
@use "../../../../tema/mixins.scss";

.navbar {
  display: flex;
  align-items: center;
  gap: 8px;
  .header {
    display: flex;
    align-items: center;
    gap: 4px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      .logo-imagen {
        width: 100%;
        height: 100%;
        object-fit: contain;
        &.loading {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
  .menubar {
    flex: auto 1 1;
  }
  &.xs,
  &.sm {
    .header {
      .logo {
        @include mixins.glass-heavy;
        width: var(--lt-button-icon-only-width);
        aspect-ratio: 1;
        border-radius: var(--lt-button-rounded-border-radius);
      }
    }
  }
  &.md,
  &.lg,
  &.xl {
    .header {
      .logo {
        @include mixins.glass-heavy;
        width: auto;
        height: 54px;
        aspect-ratio: 25/11;
        border-radius: var(--lt-menubar-border-radius);
      }
    }
  }
}
