<div class="navbar"
     [class]="bp()">
  <div class="header">
    <div class="logo">
      <img [src]="cdn + 'logos/' + logo() + '.svg'"
           [style.height]="bp() === 'xs' || bp() === 'sm' ? '20px' : 'auto'"
           class="logo-imagen"
           [alt]="logo()">
    </div>
  </div>
  <div class="menubar">
    <p-menubar [model]="menuItems"
               class="menu-bar">
      <ng-template #item
                   let-item>
        <a pRipple
           [routerLink]="item.routerLink"
           routerLinkActive="active"
           class="p-menubar-item-link menu-link">
          @if (item.tipoIcono === 'primeng') {
          <i [class]="'pi ' + item.icon">
          </i>
          }
          @if (item.tipoIcono === 'material_symbol') {
          <span class="material-symbols-outlined"
                [innerHTML]="item.icon">
          </span>
          }
          @if (item.tipoIcono === 'fontawesome') {}
          <span [innerHTML]="item.label"></span>
        </a>
      </ng-template>
    </p-menubar>
  </div>
  <div class="estilos">
    <p-button [icon]="'pi '+ iconoTema()"
              (onClick)="cambiarTema()"
              [rounded]="true" />
    <div class="desp-idioma">
      <p-menu #idioma
              styleClass="p-menu-idioma"
              [model]="idiomaMenuItems"
              [popup]="true">
        <ng-template #item
                     let-item>
          <a pRipple
             class="flex items-center gap-2 px-3 py-2 cursor-pointer"
             (click)="item.command?.({ originalEvent: $event, item: item })">
            <span class="flag-container">
              <img [src]="cdn + 'flags/' + item.flag + '.svg'"
                   [alt]="item.flag">
            </span>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menu>
      <p-button (click)="idioma.toggle($event)"
                styleClass="p-button-idioma"
                [rounded]="true">
        <img [src]="cdn + 'flags/' + idiomaActual().flag + '.svg'">
      </p-button>
    </div>
  </div>
</div>